.container{
    margin:120px;
    padding: 10px 10px 10px 10px ;
}
.col-4{
    background-color: white;
	padding: 10px 0px;
	margin: 10px 0px;
}
h3{
padding: 10px;
align-items: center;
display:block;
justify-content: center;
}
body {
	background-color: rgb(241, 236, 236);
}
.border {
	padding: 60px 0px;
}
p {
	margin: 20px 0px;
}